/* logo */
.logo {
  font-family: 'Roboto', sans-serif;
  color: white;
  font-weight: bold;
  font-size: 46px;
  text-align: center;
  padding: 40px;
  margin-bottom: 100px;
}

/* Added styles for h1 */
.logo h1 {
  font-family: 'Roboto', sans-serif;
  color: black;
}

/* sider */
.sideBar {
  float: left;
  width: 300px;
  height: 100%;
  background-color: #FEE500;
}

.sideBarFont {
  color: black;
  text-decoration: none;
  font-size: 36px;
}

li {
  text-align: center;
  margin-bottom: 40px;
}

.dashBoard {
  height: 100vh;
}

.section {
  float: none;
  height: 100%;
  overflow: scroll;
}
